node-name: {{ inventory_hostname }}
tls-san:
  - {{ ansible_host }}
  - {{ inventory_hostname }}
write-kubeconfig-mode: "0600"
secrets-encryption: true
disable:
  - traefik
node-taint:
  - "workload=pi:PreferNoSchedule"
